# Supabase Configuration
VITE_SUPABASE_URL=https://fwjxhozxlucaywpavznu.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ3anhob3p4bHVjYXl3cGF2em51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1ODcyNTIsImV4cCI6MjA5NzE2MzI1Mn0.RlyLyTfab2fe__AXpNbewKvb1mmeNs53IzLGLQwD75Y"
VITE_SUPABASE_PROJECT_ID=fwjxhozxlucaywpavznu.supabase

# Google OAuth
VITE_GOOGLE_CLIENT_ID=211260088346-ak3fbch71k5vkujnfovs0c43effi11nr.apps.googleusercontent.com


# App URL (for OAuth callbacks) - Must match domain in OAuth provider settings
VITE_APP_URL=https://jagx-buddy-connect.name.ng
